<div id="container">
<div id="frosh-left" class="frosh">
    <%= render partial: "frosh", locals: {frosh: @leftfrosh, other_frosh: @rightfrosh} %>
</div>


<div id="frosh-right" class="frosh">
    <%= render partial: "frosh", locals: {frosh: @rightfrosh, other_frosh: @leftfrosh} %>
</div>
</div>
