<table>
<tr><td>winner</td/><td>loser</td><td>delete</td></tr>

<% @comparisons.each do |comparison| %>
<tr>
<td>
<%= Frosh.find(comparison.winner).name %>
</td>
<td>
<%= Frosh.find(comparison.loser).name %>
</td>
<td>
<%= link_to 'delete', {:controller=> 'compare', :action => 'delete', :id=>comparison.id} %>
</td>
</tr>
<% end %>
